:root {
  --primary-color: rgba(255, 255, 255, 0.85);
  --secondary-color: #100b2c;
  --accent-color: rgba(255, 140, 16);
}

body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  width: 100%;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  margin-bottom: -5px;
}

h2 {
  font-size: 33px;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 27px;
  font-weight: 300;
}

h4 {
  text-align: center;
  font-size: 25px;
}

h1,
h2,
h3,
h4 {
  font-family: "Quicksand", sans-serif;
  color: var(--primary-color);
}

p {
  color: var(--primary-color);
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-color);
}

footer a:hover {
  text-decoration: overline;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  margin-bottom: 10px;
}

li {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20px;
}
hr {
  color: var(--primary-color);
  margin-left: 270px;
  margin-right: 270px;
  margin-top: -10px;
}

.navbar {
  font-family: "Quicksand", sans-serif;
}

.fa-solid {
  display: block;
  text-align: center;
  margin: 70px 0;
  margin-bottom: -80px;
  font-size: 28px;
  color: var(--primary-color);
}

.hero {
  background-image: url(/images/heroimage.jpg);
  background-repeat: none;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: 110px 0;
  opacity: 0.95;
}

.hero h1 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hero h2 {
  color: var(--primary-color);
  text-align: center;
  font-weight: 200;
  padding: 0;
}

.interior-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: 50px 0 20px;
}

.interior-hero h1 {
  color: var(--primary-color);
  text-align: center;
  margin-top: 60px;
  margin-bottom: 10px;
}

.interior-hero h2 {
  color: var(--primary-color);
  text-align: center;
  font-weight: 200;
  padding: 0;
}

.button-hero {
  margin: 0 10px;
}

.button-hero a {
  padding: 8px 25px;
}

.button-homepage {
  display: block;
}

.button-interior a {
  padding: 8px 25px;
}

.button-homepage a {
  padding: 8px 25px;
}

.img-fluid {
  opacity: 0.75;
}

.projects-homepage {
  display: block;
  text-align: center;
  padding: 20px;
}

.row {
  display: flex;
  margin: 25px 5px 5px;
  justify-content: space-evenly;
}

.section-headers {
  text-align: left;
  padding: 0 0 10px;
  margin-bottom: 8px;
}
.section-paragraphs {
  text-align: left;
  padding: 0;
}

.card-body {
  display: block;
  text-align: center;
}

.button-contact-section a {
  padding: 8px 25px;
}

.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(253, 108, 12, 0.74),
    0 4px 8px rgba(168, 53, 53, 0.06);
}

@media (max-width: 765px) {
  .button-hero a {
    padding: 10px 42px;
  }
  .button-homepage {
    text-align: center;
  }
  .button-homepage a {
    padding: 10px 42px;
    justify-content: center;
    text-align: center;
  }
  .button-contact-section a {
    padding: 10px 42px;
    justify-content: center;
    text-align: center;
  }

  .button-interior {
    text-align: center;
  }

  .button-interior a {
    padding: 10px 42px;
    justify-content: center;
    text-align: center;
  }

  .section-headers {
    text-align: center;
  }

  .section-paragraphs p {
    text-align: center;
    padding: 5px;
  }
}
